.panda-container{
    background-color: #FEEAE9;
    border-radius: 0.8em;
}

.pink{
    color: #fc0578;
}

.orrange{
   background-color:#FFA500;
   border-radius: .5em;
   color: white;

}

.purple{
    background-color: #e913e2 ;
    border-radius: .5em;
    color: white;
    
}

.blue{
    background-color: #0042FD;
    border-radius: .5em;
    color: white;
  
}

.panda-btn{
    padding: 0.5em 1em 0.5em 1em;
    background-color: #fc0578;
    border: 0;
    border-radius: 0.7em;
    margin-top: 5px;
}

.cat-img{
    height: 100px;
    width: 100px;
}

.b-radius{
    border-radius: 0.5em;
}

.panda-footer{
    background-color: white;
    border: 0;
}
.subscribe{
  background-color: #FEEAE9;
}

.panda-nav{
    margin-left: 7.3em;
}